.DS_Store
.idea/
.vscode/
__pycache__/
*.py[cod]
*.ipynb

wandb/
runs/
logs/
slurm-*.out
tmp/
tmp*/

data/
datasets_local/
pretrained_weights/*.pt
pretrained_weights/*.pth
pretrained_weights/*.ckpt
*.mp4
*.avi
*.mov
*.mkv
*.yuv
